* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* ===== PAGE BACKGROUND ===== */
.home-wrapper {
  min-height: 100vh;
  background: linear-gradient(135deg, #010206, #201f21);
  padding-bottom: 60px; /* ruang footer */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== HEADER ===== */
.home-header {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 64px;
  padding: 0 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  z-index: 99;
}

.home-header h1 {
  font-size: 20px;
}

.home-header nav a {
  color: white;
  margin-left: 22px;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.85;
}

.home-header nav a:hover {
  opacity: 1;
}

/* ===== MAIN ===== */
.home-main {
  top: 30vh;
  padding: 90px 30px 30px 32px
}

.glass-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 24px;
  color: white;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.glass-card h2 {
  margin-bottom: 10px;
}

.glass-card p {
  opacity: 0.9;
  margin-bottom: 10px;
}

.discussion-head {
  padding: 25px;
  color: white;
}

/* ===== FOOTER (STICKY) ===== */
.home-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  z-index: 1000;
}

.discussion-card {
  max-width: 700px;
}

.discussion-tag {
  display: inline-block;
  background: rgba(255, 255, 255, 0.25);
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 12px;
  margin-bottom: 12px;
}

.discussion-title {
  font-size: 20px;
  margin-bottom: 8px;
}

.discussion-desc {
  font-size: 14px;
  opacity: 0.9;
  margin-bottom: 16px;
}

.discussion-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  opacity: 0.9;
}

.discussion-stats span {
  margin-right: 16px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.discussion-meta strong {
  font-weight: 600;
}

.home-footer {
  padding: 8px 0;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: white;
  text-decoration: none;
}

.footer-item svg {
  stroke-width: 1.5;
}

.loading {
  position: sticky;
  top: 0;
}